name: Python package build and publish

on:
  release:
    types: [created]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v1
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install twine flake8 build
    - name: Lint with flake8 for syntax errors
      run: |
        pip install flake8
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
    - name: Build Python source distribution
      run: |
        python -m build --sdist --outdir dist/ .
    - name: Build manylinux Python wheels
      uses: RalfG/python-wheels-manylinux-build@v0.3.4-manylinux2010_x86_64
      with:
        python-versions: 'cp36-cp36m cp37-cp37m cp38-cp38 cp39-cp39'
        pip-wheel-args: '-w ./dist --no-deps'
    - name: Publish wheels to PyPI
      env:
        TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
        TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
      run: |
        twine upload dist/*.tar.gz
        twine upload dist/*-manylinux*.whl
  deploy-windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2.1.1
        with:
          submodules: recursive
      - uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Install cibuildwheel
        run:  python -m pip install --upgrade cibuildwheel

      - name: Build windows wheels
        env:
          CIBW_SKIP: pp* cp27* *-win32 cp35-win_amd64
        run: |
          python -m cibuildwheel --output-dir dist
      - name: Publish wheels to PyPI
        env:
          TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
          TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
        run: |
          twine upload dist/*-win*.whl
  


